@CHARSET "ISO-8859-1";

/*
Autor dieser Datei: Tim Hermbecker, Lukas Vechtel

Diese Datei wird für das Design der Website im Desktop-Modus (>1200px width) benötigt.
*/

/* ------------------ globale Werte ------------------- */
html,body{
	margin:0;
	padding:0;
	min-height:100%;
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size:cover;
}
/* ------------------ globale Werte ------------------- */




/*---------------------------- Button Classes ------------------------*/
.btnZurueck{
	background-color: #BF4D17;
	padding: 3px;
	margin-left: 30px;
	width: 110px;
	color: white;
	float: left;
	height: 25px;
	position: relative;
	height: 30px;
	font-size: 18px;
	border-style: none;
	border-radius: 5px;
}
.btnZurueck:hover{
	cursor:pointer;
	background-color: #9b4013;
}
@media (max-width: 1200px)
{

}
/*---------------------------- Button Classes ------------------------*/





/* ------------- Panel für Seitenheader, Suchfunktion (links) --------------- */
#sitebar{
	min-width: 160px;
	width: 16%;
	padding: 1%;
	height: 350px;
	background-color: #BF4D17;
	color: white;
	opacity: 0.85;
	float: left;
	text-align: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	border-radius: 0px 0px 45px 0px;	
}

/* Header der Webseite */
#header{
	height: 120px;
	width: 100%;
	text-align:center;
	border-bottom: 1px solid white;
}
#header:hover{
	cursor: pointer;
}
#header h1{
	margin: 0;
	padding-top: 20px;
}
#header h3{
	margin: 0px;;
	padding-top: 5px;
}

/* Suchfunktion */
#searchPanel{
	width: 100%;
	height: 180px;
}
#searchPanel ul{
	margin: 0;
	padding:0;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid white;
}
#searchPanel ul li{
	list-style-type: none;
}
#searchPanel ul li a{
	font-size: 25px;
	text-decoration: none;
	color: white;	
	-o-transition:color .2s ease-out, background 1s ease-in;
	-ms-transition:color .2s ease-out, background 1s ease-in;
	-moz-transition:color .2s ease-out, background 1s ease-in;
	-webkit-transition:color .2s ease-out, background 1s ease-in;
	transition:color .2s ease-out, background 1s ease-in;
}
#searchPanel ul li a:hover{
	color: #332714;	
}
#suchenHeader{
	font-size:25px;
}
#sucheEingabe{
	padding: 3px;
	margin-top: 15px;
	width: 80%;
	height: 20px;
	border: none;
	border-radius: 5px;	
}
@media (max-width: 1200px)
{
	#sitebar{
		min-width: 150px;
		top: 0px;
		float: left;
		margin: 0;
		width: 98%;
		padding: 1%;
		height: 50px;
		opacity: 0.85;
		border-radius: 0px 0px 0px 0px;	
	}
	
	/* Header der Webseite */
	#header{
		height: 120px;
		width: 45%;
		float: left;
		border-bottom: none;
	}
	#header h1{
		padding-top:5px;
		float: left;
	}
	#header h3{
		margin: 0px;
		padding: 10px;
		float: left;
		padding-left: 5px;
	}
	
	/* Suchfunktion */
	#searchPanel{
		width: 45%;
		height: 180px;
		float: right;
	}
	#searchPanel ul{
		margin: 0;
		padding:0;
		float: right;
		padding-left: 3px;
		border-bottom: none;
	}
	#searchPanel ul li{
		list-style-type: none;
		float: left;
	}
	#searchPanel ul li a{
		font-size: 25px;
		padding-left: 3px;
		float: right;	
	}
	#suchenHeader{
		font-size:25px;
		float: right;
		padding-top: 5px;
		padding-left: 3px;
	}
	#sucheEingabe{
		padding-left: 3px;
		margin-top: 5px;
		float: right;
		padding-right: 10px;
		padding-top: 5px;
		width: 80%;
		height: 20px;
		border: none;
		border-radius: 5px;	
	}
}
/* ------------- Panel für Seitenheader, Suchfunktion (links) --------------- */







/* ------------ Panel für Anmeldung, Benutzeransicht (rechts) ----------------- */
.controllPanel{
	margin: 0;
	padding:1%;
	min-width: 240px;
	width: 16%;
	height: 220px;
	background-color: #BF4D17;
	color:white;
	opacity: 0.85;
	text-align:center;
	position: -webkit-sticky;
  	position: sticky;
  	float: right;
  	top: 0px;
  	border-radius: 0px 0px 0px 45px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}

.controllPanel i{
	width: 15px;
}
.controllPanel h3{
	margin: 0;
	padding: 0;	
	font-size: 25px;
	font-weight: normal;
}
.controllPanel ul{
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: left;	
}

.controllPanel ul li {
	line-height: 27px;
	width: 90%;
	list-style-type: none;
}
.controllPanel a{
	color: white;
	text-decoration:none;
	margin: 5px;
	-o-transition:color .2s ease-out, background 1s ease-in;
	-ms-transition:color .2s ease-out, background 1s ease-in;
	-moz-transition:color .2s ease-out, background 1s ease-in;
	-webkit-transition:color .2s ease-out, background 1s ease-in;
	transition:color .2s ease-out, background 1s ease-in;
}
.controllPanel li a:hover{
	color: #332714;
	cursor: pointer;
}
#registrierungLink{
	color: white;
	margin-top: 10px;
}

/* Eingabefelder für die Anmeldung*/
#inputBenutzername{
	margin-top: 5%;
	padding: 3px;
	height: 20px;
	width: 80%;
	border-radius: 5px;
	border-style: none;
}
#inputPasswort{
	margin-top: 5%;
	padding: 3px;
	height: 20px;
	width: 80%;
	border-radius: 5px;
	border-style: none;
}
#btnAnmelden{
	margin-top: 8%;
	height: 26px;
	width: 60%;
	background-color: white;
	color: black;
	border-radius: 5px;
	border-style:none;
}
#btnAnmelden:hover{
	background-color: #e1e1e1;
	cursor: pointer;
}

/* Link zum Abmelden */
#abmelden{
	top: 220px;
	right: 20px;
	position: absolute;
	text-decoration: none;
	font-style: italic;
}
#abmelden:hover{
	color: #332714;
	cursor: pointer;
}
@media (max-width: 1200px)
{
	.controllPanel{
		margin-top: 1px;
		padding:1%;
		min-width: 220px;
		width: 16%;
		height: 230px;
		background-color: #BF4D17;
		color:white;
		opacity: 0.85;
		text-align:center;
		position: -webkit-sticky;
	  	position: sticky;
	  	float: left;
	  	top: 0px;
	  	border-radius: 0px 0px 45px 0px;
	  	-webkit-box-shadow: 0px 0px 0px -7px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 0px -7px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 0px -7px rgba(0,0,0,0.75);
	}
	
	.controllPanel i{
		width: 15px;
	}
	.controllPanel h3{
		margin: 0;
		padding: 0;	
		font-size: 25px;
		font-weight: normal;
	}
	.controllPanel ul{
		margin-top: 25px;
		margin-bottom: 10px;
		text-align: left;	
	}
	
	.controllPanel ul li {
		line-height: 27px;
		width: 90%;
		list-style-type: none;
	}
	.controllPanel a{
		color: white;
		text-decoration:none;
		margin: 5px;
		-o-transition:color .2s ease-out, background 1s ease-in;
		-ms-transition:color .2s ease-out, background 1s ease-in;
		-moz-transition:color .2s ease-out, background 1s ease-in;
		-webkit-transition:color .2s ease-out, background 1s ease-in;
		transition:color .2s ease-out, background 1s ease-in;
	}
	#registrierungLink{
		color: white;
		margin-top: 10px;
	}
	
	/* Eingabefelder für die Anmeldung*/
	#inputBenutzername{
		margin-top: 5%;
		padding: 3px;
		height: 20px;
		width: 80%;
		border-radius: 5px;
		border-style: none;
	}
	#inputPasswort{
		margin-top: 5%;
		padding: 3px;
		height: 20px;
		width: 80%;
		border-radius: 5px;
		border-style: none;
	}
	#btnAnmelden{
		margin-top: 8%;
		height: 26px;
		width: 60%;
		background-color: white;
		color: black;
		border-radius: 5px;
		border-style:none;
	}
		
	/* Link zum Abmelden */
	#abmelden{
		top: 220px;
		right: 20px;
		position: absolute;
		text-decoration: none;
		font-style: italic;
	}
}
/* ------------ Panel für Anmeldung, Benutzeransicht (rechts) ----------------- */







/* -------------- Wrapper für den Seitencontent ------------------- */
.contentWrapper{
	margin: 0 auto;
	width: 60%;
	min-width: 300px;
	min-height: 100%;
	height: auto;
	overflow: auto;
	background-color: transparent;
	text-align: center;
	color: black;	
}

/* Animationen für alle Contentsites */
.showing{
	-webkit-animation: showing 1.5s 1; /* Safari 4.0 - 8.0 */
    animation: showing 1.5s 1;
}
@-webkit-keyframes showing {
    from {opacity: 0;}
    to {opacity: 0.9;}
}
@keyframes showing {
    from {opacity: 0;}
    to {opacity: 0.9;}
}
@media (max-width: 1200px)
{
	
}
/* -------------- Wrapper für den Seitencontent ------------------- */








/* --------------- Panel mit Artikeln für Mitarbeiter ------------------- */
#artikelListeMitarbeiter{
	margin: 50px auto;
	width: 900px;
	height: 490px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#artikelListeMitarbeiter p{
	margin: 0;
	padding: 2%;
	font-family: sans-serif;
}
#artikelListeMitarbeiter h1{
	margin: 0;
	padding: 15px;
	color: #BF4D17;	
}
#artikelListeMitarbeiterTabelle{
	width: 92%;
	margin-left: 4%;
	table-layout: fixed;
}
#artikelListeMitarbeiterTabelle tbody{
	height: 300px;
	overflow: auto;
	display: block;
	width: 100%
}
#artikelListeMitarbeiterTabelle thead th{
	text-align: left;
	border-bottom: 1px solid #BF4D17;		
}
#artikelListeMitarbeiterTabelle tbody tr{
	border-collapse: collapse;
	margin:auto;
	margin-top: 10px;
	empty-cells: hide;
	text-align: left;
	max-height: 20px;
}
#artikelListeMitarbeiterTabelle tbody tr:hover{
	background-color: #e0e0e0;
}
#artikelListeMitarbeiterTabelle thead tr{
	display: block;
	position: relative;
}

#artikelListeMitarbeiter > table td:nth-child(1), #artikelListeMitarbeiter > table th:nth-child(1) { width: 90px; }
#artikelListeMitarbeiter > table td:nth-child(2), #artikelListeMitarbeiter > table th:nth-child(2) { width: 120px; }
#artikelListeMitarbeiter > table td:nth-child(3), #artikelListeMitarbeiter > table th:nth-child(3) { width: 140px; }
#artikelListeMitarbeiter > table td:nth-child(4), #artikelListeMitarbeiter > table th:nth-child(4) { width: 270px; }
#artikelListeMitarbeiter > table td:nth-child(5), #artikelListeMitarbeiter > table th:nth-child(5) { width: 80px; }
#artikelListeMitarbeiter > table td:nth-child(6), #artikelListeMitarbeiter > table th:nth-child(6) { width: 45px; }
#artikelListeMitarbeiter > table td:nth-child(7), #artikelListeMitarbeiter > table th:nth-child(7) { width: 30px; }

#artikelListeMitarbeiterTabelle td.tablecell{
	height: 22px;
	padding: 3px;
}
#artikelListeMitarbeiterTabelle td.tablecellright{
	text-align:center;
	height: 22px;
	padding-top: 3px;
	padding-bottom: 3px;
}
#artikelListeMitarbeiterTabelle td.tablecell > div {
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.PickSymbol{
	color: #4a4a4a;
}
.PickSymbol:hover{
	color:black;
	cursor:pointer;
}

#artikelListeMitarbeiter #btnArtikelAnlegen{
	float: right;
	margin-right: 4%;
	margin-top: 30px;
	width: 20%;
	position: relative;
	height: 30px;
	font-size: 15px;
	border-style: none;
	color: white;
	background-color: #BF4D17;
	border-radius: 5px;
}

#artikelListeMitarbeiter #btnArtikelAnlegen:hover{
	cursor:pointer;
	background-color: #9b4013;
}
@media (max-width: 1200px)
{
	#artikelListeMitarbeiter{
		width: 600px;
		height: 490px;
		text-align: center;
	}
	#artikelListeMitarbeiter p{
		margin: 0;
		padding: 2%;
		font-family: sans-serif;
	}
	#artikelListeMitarbeiter h1{
		margin: 0;
		padding: 15px;
		color: #BF4D17;	
	}
	#artikelListeMitarbeiterTabelle{
		width: 92%;
		margin-left: 4%;
		table-layout: fixed;
	}
	#artikelListeMitarbeiterTabelle tbody{
		height: 300px;
		overflow: auto;
		display: block;
		width: 100%
	}
	#artikelListeMitarbeiterTabelle thead th{
		text-align: left;
		font-size: 13px;
		border-bottom: 1px solid #BF4D17;		
	}
	#artikelListeMitarbeiterTabelle tbody tr{
		border-collapse: collapse;
		margin:auto;
		margin-top: 10px;
		empty-cells: hide;
		text-align: left;
		max-height: 20px;
	}
	
	#artikelListeMitarbeiterTabelle td:nth-child(1), th:nth-child(1) { width: 80px; }
	#artikelListeMitarbeiterTabelle td:nth-child(2), th:nth-child(2) { width: 110px; }
	#artikelListeMitarbeiterTabelle td:nth-child(3), th:nth-child(3) { width: 130px; }
	#artikelListeMitarbeiterTabelle td:nth-child(4), th:nth-child(4) { width: 260px; }
	#artikelListeMitarbeiterTabelle td:nth-child(5), th:nth-child(5) { width: 70px; }
	#artikelListeMitarbeiterTabelle td:nth-child(6), th:nth-child(6) { width: 30px; }
	#artikelListeMitarbeiterTabelle td:nth-child(7), th:nth-child(7) { width: 20px; }
	
	#artikelListeMitarbeiterTabelle td.tablecell{
		height: 22px;
		padding: 3px;
	}
	#artikelListeMitarbeiterTabelle td.tablecellright{
		text-align:center;
		height: 22px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	#artikelListeMitarbeiterTabelle td.tablecell > div {
	    width: 100%;
	    height: 20px;
	    overflow: hidden;
	}	
	#artikelListeMitarbeiter #btnArtikelAnlegen{
		float: right;
		margin-right: 4%;
		margin-top: 30px;
		width: 30%;
		position: relative;
		height: 30px;
		font-size: 15px;
		border-style: none;
		color: white;
		background-color: #BF4D17;
		border-radius: 5px;
	}
}
/* --------------- Panel mit Artikeln für Mitarbeiter ------------------- */





/* --------------- Panel mit Artikeln für Kunden  ------------------- */
#artikelListeKunden{
	margin: 0px auto;
	padding: 15px;
	
}
#artikelListeKundenDesign{
	text-align: center;
	opacity: 0.9;
	background-color: #fdf3ee;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	border: solid 2px #BF4D17;;
	border-radius: 20px;
	border-collapse: collapse;
	width: 70%;
	height: 120px;
	margin: 20px auto;
	margin-top: 10px;
}
#artikelListeKundenDesign:hover{
	cursor:pointer;
}
#artikelListeKundenBild{
	background: url("../images/articles/warnweste.jpg");
	float: left;
	margin-left: 3%;
	margin-top: 15px;
	border: solid 1px black;
	border-radius: 2px;
	height: 90px;
	width: 80px;
}
#artikelListeKundenBezeichnung{
	text-align: left;
	float: left;
	margin-left: 2%;
	width: 63%;
	margin-top: 20px;
	font-size: 20px;
}
#artikelListeKundenBeschreibung{
	float: left;
	text-align: left;
	margin-left: 2%;
	margin-top: 10px;
	width: 63%;
	height: 55px;
	font-size: 15px;
}
#artikelListeKundenPreis{
	float: left;
	margin-left: 2%;
	margin-top: 20px;
	width: 16%;
	text-align: left;
	font-size: 18px;
}
#artikelListeKundenWarenkorbButton{
	float: left;
	padding: 7px;	
	height: 30px;
	border-style: none;
	margin-left: 2%;
	margin-top: 60px;
	background-color: #BF4D17;
	color: white;
	border-radius: 5px;
}
#artikelListeKundenWarenkorbButton:hover{
	cursor: pointer;
	background-color: #9b4013;
}
@media (max-width: 1200px)
{
	#artikelListeKunden{
		margin: 0px auto;
		padding: 15px;
	}
	#artikelListeKundenDesign{
		text-align: center;
		opacity: 0.9;
		background-color: #fdf3ee;
		border-radius: 20px;
	  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
		border: solid 2px #BF4D17;;
		border-radius: 20px;
		border-collapse: collapse;
		width: 70%;
		height: 120px;
		margin: 20px auto;
		margin-top: 20px;
	}
	#artikelListeKundenBezeichnung{
		text-align: left;
		float: left;
		margin-left: 2%;
		width: 50%;
		margin-top: 20px;
		font-size: 20px;
	}
	#artikelListeKundenBeschreibung{
		display: none;
	}
	#artikelListeKundenPreis{
		float: left;
		margin-left: 2%;
		margin-top: 20px;
		width: 25%;
		text-align: left;
		font-size: 18px;
	}
	#artikelListeKundenWarenkorbButton{
		float: left;
		padding: 7px;	
		height: 25px;
		border-style: none;
		margin-left: 5%;
		margin-top: 60px;
	}
}
/* --------------- Panel mit Artikeln für Kunden  ------------------- */




/* ------------- Panel für die mein Konto Übersicht ------------------- */
#meinKontoPanel{
	margin: 50px auto;
	width: 700px;
	height: 450px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#meinKontoPanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
}
.tabreiter
{
    width: 100%;
    height: 300px;
    margin-top: 20px;
}   
 
.tabreiter ul,
.tabreiter li
{
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.tabreiter,
.tabreiter input[type="radio"]:checked + label
{
    position: relative;
}
 
.tabreiter li,
.tabreiter input[type="radio"] + label
{
    display: inline-block;
}
 
.tabreiter li > div,
.tabreiter input[type="radio"]
{
    position: absolute;
}
 
.tabreiter li > div,
.tabreiter input[type="radio"] + label{
    border: solid 1px #ccc;
}
.tabreiter{
    font-family: Arial, Sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #404040;
} 
.tabreiter li{
    vertical-align: top;
}
.tabreiter li:first-child{
    margin-left: 8px;
}
.tabreiter li > div{
    top: 33px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tabreiter input[type="radio"] + label{
    margin: 0 2px 0 0;
    padding: 0 18px;
    line-height: 32px;
    background: #f1f1f1;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.tabreiter input[type="radio"]:checked + label{
    z-index: 1;
    background: #fff;
    border-bottom-color: #fff;
    cursor: default;
}
 
.tabreiter input[type="radio"]{
    opacity: 0;
}
 
.tabreiter input[type="radio"] ~ div{
    display: none;
}
.tabreiter input[type="radio"]:checked:not(:disabled) ~ div{
    display: block;
}
.tabreiter input[type="radio"]:disabled + label{
    opacity: .5;
    cursor: no-drop;
}
.tabreiter input[type=text]{
	margin-top: 20px;
	padding: 3px;
	background-color: white;
	width: 60%;
	border: 1px solid #BF4D17;
	height: 25px;
	font-size: 14px;
}
#Strasse{
	margin-top: 20px;
	padding: 3px;
	background-color: white;
	width: 34%;
	border: 1px solid #BF4D17;
	height: 25px;
	font-size: 14px;
}
#Hausnummer{
	padding: 3px;
	background-color: white;
	width: 24%;
	border: 1px solid #BF4D17;
	height: 25px;
	font-size: 14px;
}
.btnBenutzerSpeichern
{
	margin-top: 40px;
	width: 40%;
	height: 35px;
	font-size: 20px;
	border-style: none;
	color: white;
	background-color: #BF4D17;
	border-radius: 5px;
}
.btnBenutzerSpeichern:hover
{
	cursor:pointer;
	background-color: #9b4013;
	
}
.btnAdresseSpeichern
{
	margin-top: 40px;
	width: 40%;
	height: 35px;
	font-size: 20px;
	border-style: none;
	color: white;
	background-color: #BF4D17;
	border-radius: 5px;
}
.btnAdresseSpeichern:hover{
	cursor:pointer;
	background-color: #9b4013;
	
}
.btnLoeschen{
	background-color: #F82D2D;
	width: 120px;
	color: white;
	height: 25px;
	float: right;
	margin-right: 30px;
	margin-top: 20px;
	position: relative;
	height: 30px;
	font-size: 15px;
	border-style: none;
	border-radius: 5px;
}
.btnLoeschen:hover{
	cursor:pointer;
	background-color: #b40505;
}

@media (max-width: 1200px)
{
	#meinKontoPanel{
		margin: 50px auto;
		width: 600px;
		height: 450px;
		text-align: center;
	}
}
/* ------------- Panel für die mein Konto Übersicht ------------------- */








/* ------------- Panel für meine Bestellungen Übersicht ------------------- */
#meineBestellungenPanel{
	margin: 50px auto;
	width: 800px;
	height: 500px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#meineBestellungenPanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#meineBestellungenTabelle{
	width: 92%;
	margin-left: 4%;
	table-layout: fixed;
}
#meineBestellungenTabelle tbody{
	height: 300px;
	overflow: auto;
	display: block;
	width: 100%
}
#meineBestellungenTabelle thead th{
	text-align: left;
	border-bottom: 1px solid #BF4D17;		
}
#meineBestellungenTabelle tbody tr{
	border-collapse: collapse;
	margin:auto;
	margin-top: 10px;
	empty-cells: hide;
	text-align: left;
	max-height: 20px;
}
#meineBestellungenTabelle tbody tr:hover{
	background-color: #e0e0e0;
}
#meineBestellungenTabelle thead tr{
	display: block;
	position: relative;
}

#meineBestellungenPanel > table td:nth-child(1), #meineBestellungenPanel > table th:nth-child(1) { width: 100px; }
#meineBestellungenPanel > table td:nth-child(2), #meineBestellungenPanel > table th:nth-child(2) { width: 110px; }
#meineBestellungenPanel > table td:nth-child(3), #meineBestellungenPanel > table th:nth-child(3) { width: 120px; }
#meineBestellungenPanel > table td:nth-child(4), #meineBestellungenPanel > table th:nth-child(4) { width: 160px; }
#meineBestellungenPanel > table td:nth-child(5), #meineBestellungenPanel > table th:nth-child(5) { width: 120px; }
#meineBestellungenPanel > table td:nth-child(6), #meineBestellungenPanel > table th:nth-child(6) { width: 110px; }

#meineBestellungenTabelle td.tablecell{
	height: 22px;
	padding: 3px;
}
@media (max-width: 1200px)
{
	#meineBestellungenPanel{
	margin: 50px auto;
	width: 600px;
	height: 500px;
	}
	#meineBestellungenTabelle thead th{
	font-size: 13px;		
	}
}
/* ------------- Panel für meine Bestellungen Übersicht ------------------- */







/* ------------- Panel für den Warenkorb ------------------- */
#warenkorbPanel{
	margin: 50px auto;
	width: 670px;
	height: auto;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#warenkorbPanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 15px;
}
#warenkorbTabellen{
	width: 100%;
	height: 65%;
	text-align: left;
}
table#artikelTabelle{
	width: 92%;
	max-height: 70%;
	margin-left: 4%;
}
table#artikelTabelle .tablecell{
	height: 20px;
	padding: 3px;
}
table#artikelTabelle .rightcell{
	text-align: center;
}
table#artikelTabelle th{
	border-bottom: 1px solid #BF4D17;
}

table#artikelTabelle tbody tr:hover{
	background-color: #e0e0e0;
}
.trashSymbol:hover{
	cursor: pointer;
}
#zusatzTabelle{
	margin-top: 20px;
	width: 92%;
	height: 80px;
	margin-left: 4%;
}
.textLeftBold{
	text-align:left;
	font-weight: bold;
}
.textLeft{
	text-align:left;
}

#zusatzTabelle th{
	border-bottom: 1px solid #BF4D17;
}
table#zusatzTabelle table tr{
	border-collapse: collapse;
	margin:auto;
	margin-top: 10px;
	padding: 5px;
	empty-cells: hide;
}
table#zusatzTabelle tr{
	text-align: left;	
}
table#zusatzTabelle tbody td{
	margin: 0;
}
#btnBestellen{
	margin-top: 40px;
	margin-bottom: 30px;
	width: 46%;
	position: relative;
	height: 45px;
	font-size: 20px;
	border-style: none;
	color: white;
	background-color: #BF4D17;
	border-radius: 5px;
}
#btnBestellen:hover{
	cursor:pointer;
	background-color: #9b4013;
}
.trashSymbol{
	color: #4a4a4a;
}
.trashSymbol:hover{
	color: black;
}
@media (max-width: 1200px)
{
	#btnBestellen{
	margin-top: 40px;
	margin-bottom: 30px;
	width: 36%;
	position: relative;
	height: 35px;
	font-size: 20px;
	}
}
/* -------------- Panel für den Warenkorb  ------------------- */




/* ------------- Panel für die Registrierung ------------------- */
#registrierungPanel{
	margin: 50px auto;
	width: 500px;
	height: 500px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#registrierungPanel h1{
	padding-top: 30px;
}
#registrierungPanel form{
	text-align: center;
}
#registrierungPanel .inputField{
	margin-top: 20px;
	padding: 3px;
	background-color: white;
	width: 60%;
	border: 1px solid #BF4D17;
	height: 25px;
	font-size: 14px;
}
#btnRegistrieren{
	margin-top: 40px;
	width: 50%;
	height: 50px;
	font-size: 20px;
	border-style: none;
	color: white;
	background-color: #BF4D17;
	border-radius: 5px;
}
#btnRegistrieren:hover{
	background-color: #9b4013;
	cursor: pointer;
}
@media (max-width: 1200px)
{
	#btnRegistrieren{
	margin-top: 40px;
	width: 40%;
	height: 45px;
	font-size: 25px;
	}
}
/* ------------- Panel für die Registrierung ------------------- */



/* ------------- Panel für das Artikel anlegen ------------------- */
#artikelAnlegenPanel{
	margin: 50px auto;
	width: 700px;
	height: 550px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#artikelAnlegenPanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
}
#artikelAnlegenPanel form{
	text-align: center;
}
#artikelAnlegenPanelBeschreibung .inputField{
	margin-top: 20px;
	padding: 3px;
	background-color: white;
	width: 60%;
	border: 1px solid #BF4D17;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
}
#artikelAnlegenPanelBeschreibung .inputArea{
	margin-top: 20px;
	padding: 3px;
	background-color: white;
	width: 60%;
	border: 1px solid #BF4D17;
	height: 85px;
	font-size: 14px;
	font-family: sans-serif;
	overflow: auto;
	resize: none;
}
#artikelAnlegenPanelKategorie_1{
	margin-top: 20px;
}
#artikelAnlegenPanelKategorie_1 select{
	background-color: white;
	width: 61%;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
	margin: 0;
	padding: 3px;
	border: 1px solid #BF4D17;
}
#artikelAnlegenPanelKategorie_2{
	margin-top: 5px;
}
#artikelAnlegenPanelKategorie_2 select{
	background-color: white;
	width: 61%;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
	margin: 0;
	padding: 3px;
	border: 1px solid #BF4D17;
}
#artikelAnlegenPanelZahlen .inputField{
	margin-top: 20px;
	padding: 3px;
	background-color: white;
	width: 29%;
	border: 1px solid #BF4D17;
	height: 25px;
	font-size: 14px;
	font-family: sans-serif;
}

#btnArtikelAnlegen{
	margin-top: 30px;
	width: 40%;
	height: 40px;
	font-size: 20px;
	border-style: none;
	color: white;
	background-color: #BF4D17;
	border-radius: 5px;
}
#btnArtikelAnlegen:hover{
	background-color: #9b4013;
	cursor: pointer;
}

@media (max-width: 1200px)
{
	#artikelAnlegenPanel{
	margin: 50px auto;
	width: 600px;
	height: 550px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	}
}
/* ------------- Panel für das Artikel anlegen ------------------- */




/* ------------- Panel für das Bearbeiten von Artikeln ------------------- */
#artikelBearbeitenPanel{
	margin: 50px auto;
	width: 700px;
	height: 715px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#artikelBearbeitenPanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#artikelBearbeitenPanel form{
	text-align: center;
}
#artikelBearbeitenPanel h3{
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 15px;
}
#artikelBearbeitenPanelBeschreibung .inputField{
	background-color: white;
	width: 60%;
	padding-left: 3px;
	border: 1px solid #BF4D17;
	height: 25px;
	font-size: 14px;
	font-family: sans-serif;
}
#artikelBearbeitenPanelBeschreibung .inputArea{
	background-color: white;
	width: 60%;
	padding: 3px;
	border: 1px solid #BF4D17;
	height: 85px;
	font-size: 14px;
	font-family: sans-serif;
	overflow: auto;
	resize: none;
}
#artikelBearbeitenPanelZahlen .inputField{
	background-color: white;
	width: 29%;
	padding-left: 3px;
	border: 1px solid #BF4D17;
	height: 25px;
	font-size: 14px;
	font-family: sans-serif;
}
#artikelBearbeitenPanelKategorie_1{
	margin-top: 20px;
}
#artikelBearbeitenPanelKategorie_1 select{
	background-color: white;
	width: 61%;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
	margin: 0;
	padding: 3px;
	border: 1px solid #BF4D17;
}
#artikelBearbeitenPanelKategorie_2{
	margin-top: 5px;
}
#artikelBearbeitenPanelKategorie_2 select{
	background-color: white;
	width: 61%;
	height: 30px;
	font-size: 14px;
	font-family: sans-serif;
	margin: 0;
	padding: 3px;
	border: 1px solid #BF4D17;
}
#btnArtikelSpeichern{
	margin-top: 30px;
	width: 40%;
	height: 40px;
	font-size: 20px;
	border-style: none;
	color: white;
	background-color: #BF4D17;
	border-radius: 5px;
}
#btnArtikelSpeichern:hover{
	background-color: #9b4013;
	cursor: pointer;
}

/* Toggle Button */
#togglebutton .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
#togglebutton .switch input {
	display:none;
}
#togglebutton .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
#togglebutton .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
#togglebutton input:checked + .slider {
  background-color: #BF4D17;
}
#togglebutton input:focus + .slider {
  box-shadow: 0 0 1px #BF4D17;
}
#togglebutton input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#togglebutton .slider.round {
  border-radius: 30px;
}
#togglebutton .slider.round:before {
  border-radius: 50%;
}

@media (max-width: 1200px)
{
	#artikelBearbeitenPanel{
	margin: 50px auto;
	width: 600px;
	height: 715px;
	text-align: center;
	opacity: 0.9;
	}
	#btnArtikelSpeichern{
	height: 35px;
	font-size: 20px;
	}
}
/* ------------- Panel für das Bearbeiten von Artikeln ------------------- */




/* ------------- Panel für die Detailansicht von Artikeln ------------------- */
#artikelDetailansichtPanel{
	margin: 50px auto;
	width: 800px;
	height: 500px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#artikelDetailansichtKategorie
{
	background: none;
}
#artikelDetailansichtPanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#artikelDetailansichtPanel form{
	text-align: center;
}
#artikelDetailansichtPanel h3{
	float: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 15px;
}
#artikelDetailansichtPanelZahlen
{
	margin-top:10px;
}
#artikelDetailansichtBild{
	background: url("../images/articles/warnweste.jpg");
	float: left;
	margin-left: 3%;
	margin-top: 15px;
	border: solid 1px black;
	border-radius: 2px;
	height: 90px;
	width: 80px;
}
#artikelDetailansichtTabelle tr
{
	float: left;
	padding: 5px;
	background: white;
	margin-left: 5px;
	width: 80%;
}
#artikelDetailansichtTabelle td
{
	font-size: 15px;
}
#artikelDetailansichtPanelBeschreibung .inputField{
	background-color: white;
	width: 60%;
	padding-left: 3px;
	border: 1px solid #BF4D17;
	height: 25px;
	font-size: 14px;
	font-family: sans-serif;
}
#artikelDetailansichtPanelBeschreibung .inputArea{
	background-color: white;
	width: 60%;
	padding: 3px;
	border: 1px solid #BF4D17;
	height: 85px;
	font-size: 14px;
	font-family: sans-serif;
	overflow: auto;
	resize: none;
}

#artikelDetailansichtWarenkorbButton{
	float: left;
	padding: 7px;	
	height: 40px;
	width: 150px;
	font-size: 13px;
	border-style: none;
	margin-left: 2%;
	margin-top: 60px;
	background-color: #BF4D17;
	color: white;
	border-radius: 5px;
}
#artikelDetailansichtWarenkorbButton:hover{
	cursor: pointer;
	background-color: #9b4013;
}
@media (max-width: 1200px)
{
	#artikelDetailansichtPanel{
		margin: 50px auto;
		width: 600px;
		height: 500px;
		text-align: center;
		opacity: 0.9;
	}
}
/* ------------- Panel für die Detailansicht von Artikeln ------------------- */




/* ------------- Panel für die Bestellung: Lieferadresse eingeben ------------------- */
#bestellungLieferadressePanel{
	margin: 50px auto;
	width: 800px;
	height: 500px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#bestellungLieferadressePanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#bestellungLieferadressePanel form{
	text-align: center;
}
@media (max-width: 1200px)
{
	
}
/* ------------- Panel für die Bestellung: Lieferadresse eingeben ------------------- */




/* ------------- Panel für die Bestellung: Auswählen von Zahlungsarten ------------------- */
#bestellungZahlungsartPanel{
	margin: 50px auto;
	width: 800px;
	height: 500px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#bestellungZahlungsartPanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#bestellungZahlungsartPanel form{
	text-align: center;
}
@media (max-width: 1200px)
{
	
}
/* ------------- Panel für die Bestellung: Auswählen von Zahlungsarten ------------------- */




/* ------------- Panel für die Bestellung: Zusammenfassung ------------------- */
#bestellungZusammenfassungPanel{
	margin: 50px auto;
	width: 800px;
	height: 500px;
	text-align: center;
	opacity: 0.9;
	background-color: white;
	border-radius: 20px;
  	-webkit-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px -7px rgba(0,0,0,0.75);
}
#bestellungZusammenfassungPanel h1{
	margin:0;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#bestellungZusammenfassungPanel form{
	text-align: center;
}
@media (max-width: 1200px)
{
	
}
/* ------------- Panel für die Bestellung: Zusammenfassung ------------------- */





/* ---------- Panel für Fehlermeldungen ----------------- */
#fehlermeldungPanel{
	margin: 0;
	padding: 0 7px 5px 7px;
	top: 270px;
	right: 0;
	position: absolute;
	height: 95px;
	width: 18%;
	min-width: 260px;
	text-align: center;
	background-color: white;
	opacity: 0.85;
	color: red;
	border-radius: 40px 0 0 40px;
	display: none;
}
#fehlermeldungPanel i{
	text-align: left;
	color: #c0c0c0;
}
#fehlermeldungPanel i:hover{
	color: #4a4a4a;
	cursor:pointer;
}
#fehlermeldungPanel h4{
	margin: 0;
	margin-bottom: 5px;
}
#fehlermeldungPanel p{
	margin: 0;
}
@media (max-width: 1200px)
{
	#fehlermeldungPanel{
	margin: 0;
	padding: 0 7px 5px 7px;
	top: 330px;
	left: 0;
	position: absolute;
	height: 95px;
	width: 18%;
	min-width: 240px;
	text-align: center;
	background-color: white;
	opacity: 0.85;
	color: red;
	border-radius: 0px 40px 40px 0px;
	display: none;
}
}
/* ---------- Panel für Fehlermeldungen ----------------- */





/* ---------- Panel für Hinweismeldungen ----------------- */
#hinweismeldungPanel{
	margin: 0;
	padding: 0 7px 5px 7px;
	top: 270px;
	right: 0;
	position: absolute;
	height: 90px;
	width: 18%;
	min-width: 260px;
	text-align: center;
	background-color: white;
	opacity: 0.85;
	color: green;
	border-radius: 40px 0 0 40px;
	display: none;
}
#hinweismeldungPanel i{
	text-align: left;
	color: #c0c0c0;
}
#hinweismeldungPanel i:hover{
	color: #4a4a4a;
	cursor:pointer;
}
#hinweismeldungPanel h4{
	margin: 0;
	margin-bottom: 5px;
}
#hinweismeldungPanel p{
	margin: 0;
}
@media (max-width: 1200px)
{
	#hinweismeldungPanel{
	margin: 0;
	padding: 0 7px 5px 7px;
	top: 330px;
	left: 0;
	position: absolute;
	height: 90px;
	width: 18%;
	min-width: 240px;
	text-align: center;
	background-color: white;
	opacity: 0.85;
	color: green;
	border-radius: 40px 0 0 40px;
	display: none;
}
}
/* ---------- Panel für Hinweismeldungen ----------------- */






/* ------------- Animationen für das Meldungs Panel ------------ */
.opening{
	-webkit-animation: opening 1s 1; /* Safari 4.0 - 8.0 */
    animation: opening 1s 1;
}
@-webkit-keyframes opening {
    from {top: 330px; opacity: 0; }
    to {top: 270px; opacity: 0.85;}
}
@keyframes opening {
    from {top: 330px; opacity: 0; }
    to {top: 270px; opacity: 0.85;}
}
.closing{
	-webkit-animation: closing 1s 1; /* Safari 4.0 - 8.0 */
    animation: closing 1s 1;
}
@-webkit-keyframes closing {
    from {top: 270px; opacity: 0.85;}
    to {top: 330px; opacity: 0;}
}
@keyframes closing {
    from {top: 270px; opacity: 0.85;}
    to {top: 330px; opacity: 0;}
}

/* Schließensymbol im Panel */
#meldungPanelClose{
	padding: 2%;
	height: 10px;
	width: 96%;
	text-align: right;
}
@media (max-width: 1200px)
{
	.opening{
	-webkit-animation: opening 1s 1; /* Safari 4.0 - 8.0 */
    animation: opening 1s 1;
	}
	@-webkit-keyframes opening {
	    from {top: 390px; opacity: 0; }
	    to {top: 330px; opacity: 0.85;}
	}
	@keyframes opening {
	    from {top: 390px; opacity: 0; }
	    to {top: 330px; opacity: 0.85;}
	}
	.closing{
		-webkit-animation: closing 1s 1; /* Safari 4.0 - 8.0 */
	    animation: closing 1s 1;
	}
	@-webkit-keyframes closing {
	    from {top: 330px; opacity: 0.85;}
	    to {top: 390px; opacity: 0;}
	}
	@keyframes closing {
	    from {top: 330px; opacity: 0.85;}
	    to {top: 390px; opacity: 0;}
	}
	
	/* Schließensymbol im Panel */
	#meldungPanelClose{
		padding: 2%;
		height: 10px;
		width: 92%;
		text-align: right;
	}
}
/* ------------- Animationen für das Meldungs Panel ------------ */




